* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFB74D;
    color: #333;
    line-height: 1.6;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  header h1 {
    font-size: 2.5rem;
    color: #FF5722;
  }
  
  header p {
    font-size: 1.2rem;
    color: #fff;
  }
  
  .resource-list {
    margin-top: 20px;
  }
  
  .resource-item {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
  
  }
  
  .resource-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #FF5722;
    color: white;
  }
  
  .resource-header h2 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .toggle-btn {
    background: white;
    color: #FF5722;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
  }
  
  .resource-content {
    display: none;
    padding: 20px;
    background: #f9f9f9; 
  }
  
  .resource-content p {
    margin-bottom: 10px;
  }
  
  .resource-content iframe {
    display: block;       /* Make the iframe block-level */
    margin: 0 auto;       /* Center the iframe horizontally */
  }

  .resource-link {
    text-decoration: none;
    color: #FF5722;
  }
  
  .resource-link:hover {
    text-decoration: underline;
  }
  
  footer {
    text-align: center;
    margin-top: 40px;
  }
  
  footer a {
    text-decoration: none;
    color: #FF5722;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  